<div class=" mt-0 flex flex-row justify-center items-start flex-wrap min-w-full">
    <ol class="odd">
        <li class="hex" routerLink="/menu/usuarios">
            <div class="hex-content">Usuarios</div>
        </li>

        <li class="hex">
            <div class="hex-content">BIENVENIDO</div>
        </li>

        <li class="hex">
            <div class="hex-content">A</div>
        </li>

        <li class="hex">
            <div class="hex-content">ANGULAR</div>
        </li>

        <li class="hex">
            <div class="hex-content">XD</div>
        </li>
    </ol>

    <br><br>

</div>
